@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Bitter", sans-serif !important;
}

body {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  opacity: 0.8;
  font-size: 35px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  height: 80px;
  position: relative;
}

.nav-left, .nav-right {
  display: flex;
  gap: 60px;
  flex: 1;
  justify-content: center;
}

.nav-right a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
  transition: color 0.3s;
  line-height: 80px;
}

.nav-left a:hover, .nav-right a:hover {
  color: #e14e4e;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo img {
  height: 115px;
  margin-top: 50%;
  margin-left: 35%;
}

.header-icons {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 30px;
  align-items: center;
}

.header-icons a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.header-icons a:hover {
  color: #e14e4e;
}

.index-section {
  position: relative;
  height: 730px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.index-section h1 {
  color: #ffffff;
}

.index-section p {
  color: #ffffff;
}

.background-video {
  position: absolute;
  z-index: -1;
  inset: 0px;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.intro, .subtext, h1 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out; /* Duración ajustada a 1.5s */
}

.intro {
  font-size: 20px;
  margin-bottom: 10px;
  transition-delay: 0.5s;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  transition-delay: 2s;
}

.subtext {
  font-size: 16px;
  margin-bottom: 30px;
  transition-delay: 3.5s;
}

.btn {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
  transition-delay: 5s;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  color: white;
}

.main-content {
  max-width: 50%;
  margin-right: 20px;
  color: #ffffff;
}

.main-content h3 {
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}

/* Ajustes para las imágenes del carrusel */
.team-member img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 0;
  margin: 0 auto;
  display: block;
}

.team-member h3 {
  font-weight: bold;
  color: #333;
  font-size: 18px;
}

.team-member p {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Contenedor general */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Sección del equipo */
.team-section h2 {
  font-size: 36px;
  font-weight: 700;
}

.team-section p {
  font-size: 18px;
  color: #666;
}

.team-section a.btn {
  margin-top: 20px;
}

/* Ajustes para el carrusel */
.owl-carousel .owl-item {
  text-align: center;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ddd;
  padding: 10px;
  border-radius: 50%;
}

.owl-prev {
  left: -25px;
}

.owl-next {
  right: -25px;
}

.owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Ajustes para la disposición horizontal y centrado */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-md-6 {
  padding: 15px;
}

.btn {
  background-color: #000;
  color: white;
}

.container {
  margin-top: 50px;
}

.main-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff;
}

.main-content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #ffffff;
}

.learn-more-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.learn-more-button:hover {
  background-color: #333333;
}

.features {
  max-width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.feature-item {
  max-width: 220px;
  text-align: left;
  margin-bottom: 30px;
}

.feature-item i {
  font-size: 40px;
  margin-bottom: 10px;
}

.feature-item h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.feature-item p {
  font-size: 16px;
  line-height: 1.5;
}

.projects-section {
  padding: 50px 0;
  text-align: center;
  background-color: #ffffff;
}

.projects-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
}

.project {
  position: relative;
  width: 16.66%;
  height: 333px;
  overflow: hidden;
  margin: 0;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project:hover .overlay {
  opacity: 1;
}

.overlay-content {
  color: #ffffff;
  text-align: center;
}

.plus-icon {
  font-size: 24px;
  background-color: #3367d6;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.overlay-content h3 {
  font-size: 22px;
  margin: 10px 0 5px 0;
}

.overlay-content p {
  font-size: 16px;
}

p {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

.about-us-section {
  position: relative;
  height: 550px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  overflow: hidden;
}

.about-us-section h1 {
  color: #ffffff;
}

.about-us-section p {
  color: #ffffff;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.overlay {
  z-index: 1;
  padding: 20px;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ccc;
}

h1 {
  font-size: 48px;
  margin: 0;
}

.about-us-section p {
  font-size: 20px;
  margin-top: 10px;
}

.content-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
}

.intro h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.intro p {
  font-size: 18px;
  margin-bottom: 50px;
  color: #777;
}

.highlight {
  background-color: #00bfa5;
  color: white;
  padding: 2px 5px;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex: 1;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.column h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.column p {
  font-size: 16px;
  color: #555;
}

.who-we-are {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #2c2c2c;
  color: white;
}

.text-content {
  max-width: 50%;
}

.text-content h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.learn-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.learn-more-btn:hover {
  background-color: #e14e4e;
}

.image-placeholder img {
  max-width: 586px;
  max-height: 624px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.timeline-section {
  padding: 50px 0;
  background-color: #f5f5f5;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.section-subtitle {
  font-size: 16px;
  color: #777;
  margin-bottom: 40px;
}

.timeline {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.timeline-item {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.timeline-item:nth-child(even) .timeline-content {
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-content {
  align-items: flex-end;
}

.timeline-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
  position: absolute;
  top: -20px;
  background-color: #e74c3c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 14px;
}

.timeline-content.right-content h3 {
  right: -60px;
}

.timeline-content.left-content h3 {
  left: -60px;
}

.timeline-card {
  margin-top: 40px;
}

.timeline-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.timeline-card h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.timeline-card p {
  font-size: 14px;
  color: #777;
}

.timeline-item:nth-child(odd) {
  justify-content: flex-start;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background-color: #e74c3c;
  transform: translateX(-50%);
}

.timeline-item:nth-child(odd) .timeline-content:before {
  right: auto;
  left: -10px;
}

.timeline-item:nth-child(even) .timeline-content:before {
  left: auto;
  right: -10px;
}

.timeline-content:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #e74c3c;
  border-radius: 50%;
  border: 4px solid #fff;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .timeline-content {
    width: 90%;
    align-items: center;
    margin: 0 auto;
  }
  .timeline-content h3 {
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline:before {
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline-item:nth-child(odd) .timeline-content:before,
  .timeline-item:nth-child(even) .timeline-content:before {
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline-item {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.servicios-section {
  position: relative;
  height: 550px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  overflow: hidden;
}

.servicios-section h1 {
  color: #ffffff;
}

.servicios-section p {
  color: #ffffff;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.overlay {
  z-index: 1;
  padding: 20px;
}

.services-section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-template-rows: auto;
  gap: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.service-box {
  display: flex;
  flex-direction: column;
  min-height: 390px;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  opacity: 0; /* Inicialmente invisibles */
  transform: translateY(50px); /* Desplazadas hacia abajo */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transición suave */
}

.service-box.show {
  opacity: 1; /* Se hacen visibles */
  transform: translateY(0); /* Se alinean con la posición original */
}

.service-image {
  flex: 1;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 48px;
}

.service-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.service-content h3,
.service-content p {
  margin: 0;
}

.service-content p {
  font-size: 16px;
  color: #666666;
  line-height: 1.5;
  padding-top: 10px;
}

.features-section {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.col {
  flex: 1;
  min-width: 300px;
  margin: 0 15px;
  display: flex;
  align-items: flex-start;
}

.feature-item {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.icon {
  margin-right: 20px;
  font-size: 50px;
  color: #00bfa5;
}

.content {
  max-width: 80%;
}

.content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.content p {
  font-size: 1rem;
  color: #777;
  line-height: 1.5;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #760901 !important;
}

.text-light {
  color: #f8f9fa;
}

.opacity-75 {
  opacity: 0.75;
}

.display-4 {
  font-size: 2.5rem;
  font-weight: bold;
}

.image-container {
  position: relative;
  overflow: hidden; /* Asegura que las imágenes no se salgan del contenedor */
  height: 315px; /* Ajusta la altura según la sección */
}

.image-container .parallax-background {
  width: 100%;
  height: 180%; /* Mantiene un tamaño superior para el efecto */
  object-fit: cover;
  border-radius: 8px;
  transform: translateY(0); /* Sin animación automática */
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col {
    margin-bottom: 30px;
  }
  .content {
    max-width: 100%;
  }
  .services-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .service-box {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .service-image, .service-content {
    width: 100%;
  }
  .service-content {
    padding: 20px 0;
  }
}
.container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.row {
  margin: 0; /* Remueve el margen adicional */
}

.col-md-4 {
  padding: 5px; /* Controla el espacio entre las columnas */
}

.image-container {
  position: relative;
  overflow: hidden; /* Asegura que las imágenes no se salgan del contenedor */
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-container {
  height: 250px;
}

.image-container:hover img {
  transform: scale(1.1);
  z-index: 1;
}

.btn-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  opacity: 0.8;
  font-size: 35px;
}

.contact-form,
.contact-section {
  width: 75%;
  /* Mantener el mismo ancho para ambas secciones */
  margin: 0 auto;
  /* Centrar ambas secciones en la página */
  text-align: left;
  /* Alinea el texto a la izquierda */
}

.contact-form {
  margin-top: 50px;
}

.contact-form h2 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 41%;
}

.contact-form p {
  margin-bottom: 50px;
  color: #888888;
  font-size: 18px;
  margin-left: 30%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* Espaciado entre los elementos */
}

.form-group {
  flex: 1;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #b5b5b5;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  /* Padding para los campos de entrada */
  border: 0.5px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
}

.form-group textarea {
  resize: none;
  /* Desactivar la capacidad de cambiar el tamaño de los textarea */
}

.btn-submit {
  display: inline-block;
  padding: 15px 30px;
  background-color: #0564ca;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btn-submit:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}
.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  background-color: #ffffff;
  gap: 30px;
}

.contact-section > div {
  flex: 1;
  /*  columnas tengan el mismo ancho */
  padding: 0 40px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333333;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #666666;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
  color: #e74c3c;
}

a {
  color: #5f5f5f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn-submit {
  display: inline-block;
  padding: 15px 30px;
  background-color: #f20a20;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.footer {
  background-color: #2c2f33;
  color: #ffffff;
  padding: 40px 0;
  position: relative;
}

.footer-social {
  text-align: center;
  margin-bottom: 20px;
}

.footer-social .social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #343a40;
  border-radius: 50%;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  margin: 0 15px;
  transition: background-color 0.3s ease;
}

.footer-social .social-icon:hover {
  background-color: #e14e4e;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.footer-info {
  display: flex;
  gap: 30px; /* Espacio entre los elementos */
  text-align: left;
}

.footer-info p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.footer-info i {
  color: #00bfa5;
  margin-right: 8px;
}

.footer-copy {
  text-align: right;
  font-size: 14px;
  color: #bbbbbb;
}

.footer-copy p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-info p {
    font-size: 12px;
  }
  .social-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
